{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/mdb.min.css' %}">
</head>
<body>
    <center>
        <h1>md bootstrap</h1>
        <button type="button" class="btn btn-success">SHILPA</button>
        <img src="{% static 'images/nazriya.jpg' %}" alt="">
    </center>
    <script src="{% static 'js/mdb.min.js' %}"></script>
</body>
</html>